/**
 * RESET
 */
body {
	font-family: sans-serif;
	font-size: 11pt;
	background: #eee;
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 1.4em;
}
h2 {
	font-size: 1.2em;
}
h3,
button {
	font-size: 1em;
}
textarea {
	display: block;
}
p {
	margin: 0;
}
p + p {
	margin-top: 0.3em;
}
h1,
h2,
h3 {
	margin-bottom: 0.3em;
}
button,
a[href] {
	cursor: pointer;
}




/**
 * DEBUG
 */
#app {
	width: 320px;
}



/**
 * OVERRIDES
 */


.do--margin-small--top {
	margin-top: 6px !important;
}




.do--margin-medium--top {
	margin-top: 12px !important;
}
.do--margin-medium--left {
	margin-left: 12px !important;
}
.do--margin-medium--right {
	margin-right: 12px !important;
}






.do--margin-wide--top {
	margin-top: 24px !important;
}
.do--margin-wide--left {
	margin-left: 24px !important;
}





.do--margin-extra--top {
	margin-top: 36px !important;
}
.do--margin-extra--left {
	margin-left: 36px !important;
}




.do--float:after {
	content: "" !important;
	display: table !important;
	clear: both !important;
}
.do--float__left {
	float: left !important;
}
.do--float__right {
	float: right !important;
}





/**
 * COMPONENTS
 */
.do--box {
	margin: 12px;
	padding: 24px;
	box-shadow: 1px 1px 5px #ccc;
	background: #fff;
}





.do--data-field {
	margin: 3px;
	padding: 6px;
	margin-left: -6px;
	margin-right: -6px;
	box-shadow: 1px 1px 5px #ccc;
	position: relative;
}
.do--data-field__label {
	display: block;
	font-weight: bold;
	margin: 0 0 0.3em 0;
	padding: 0;
}
input.do--data-field__control,
textarea.do--data-field__control {
	padding: 6px;
}
.do--data-field__control--wide {
	width: 100%;
	box-sizing: border-box;
}
.do--data-field__buttons {
	margin-top: 6px;
}
.do--data-field__edit-button {
	position: absolute;
	top: 0;
	right: 0;
}






.do--title {
	margin: 0 0 0.3em 0;
	padding: 0;
}




.do--button {
	display: inline-block;
	padding: 12px;
	border: none;
	border-radius: 2px;
	box-shadow: 1px 1px 5px #ccc;
	background: #eee;
	color: #000;
	text-decoration: none;

	margin-left: 24px;
}
.do--button:first-child {
	margin-left: 0;
}
.do--button--small {
	padding: 6px;
}






.do--list {
	margin: 0;
	padding: 0;
}
.do--list__button-left {
	position: absolute;
	padding: 12px;
	left: -6px;
	top: 6px;
	bottom: 6px;
}
.do--list__item {
	position: relative;
	list-style: none;
	margin: 1px;
	padding: 12px 12px 12px 0;
	border-left: 12px solid #eee;
	box-shadow: 1px 1px 5px #ccc;
}
.do--list__item--removed {
	display: none;
}
.do--list__item--no-padding {
	padding: 0;
}
.do--list__item__link {
	display: block;
	padding: 12px;
	color: #000;
	text-decoration: none;
}
.do-list__item--low-priority {
	border-left-color: #efe;
}
.do-list__item--normal-priority {
	border-left-color: #cef;
}
.do-list__item--high-priority {
	border-left-color: #fa3;
}
.do-list__item--critical-priority {
	border-left-color: #f00;
}






.do--criteria-list,
.do--criteria-list__item {
	position: relative;
}
.do--criteria-list__delete-button,
.do--criteria-list__edit-button {
	position: absolute;
	top: 0;
	right: 0;
}
.do--criteria-list__item {
	padding-right: 42px;
}
.do--criteria-list__item,
.do--criteria-list__add-button {
	margin-top: 6px;
}
.do--criteria-list__view-button {
	margin-left: 24px;
}